.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    line-height: 1rem;
}
.navbar .logo h1{
    width: max(30%, 200px);
    font-size: 1rem;
    color: tomato;
}
.navbar .logo p{
    font-size: 0.6rem;
}
.navbar .profile{
    width: 40px;
}