.header{
    height: 85vh;
    padding: 8vh 0;
    display: flex;
    justify-content: space-between;
}
.hero-img img{
    width: 30vw;
}
.header-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 60%;
    margin: 5vh 0;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-size: max(4.5vw,32px);
    line-height: 125%;
}
.header-contents h2 span{
    color: #DB2525;
}
.header-contents p{
    color: rgb(80, 80, 80);
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 10px;
}
.header-contents button{
    background-color: tomato;
    color: white;
    border: none;
    font-weight: 500;
    padding: 1vw 4vw;
    font-size: max(1vw,12px);
    border-radius: 50px;
    cursor: pointer;
}
.header-contents button:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
@media (max-width: 1050px) {
    .header{
        height: 75vh;
    }
    .header-contents{
        max-width: 60%;
    }
    .hero-img img{
        width: 30vw;
    }
}
@media (max-width: 750px) {
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .hero-img img{
        width: 30vw;
    }
}